<nav class="navbar">
    <div class="nav-logo">
        <img src="/images/logo.png" alt=" 转专"> <!-- 注 转  驻 爪专 -->
    </div>

    <div class="nav-links">
        <a href="/" class="btn"> 祝 转</a>
        <a href="/video/search" class="btn"> 驻砖 住专</a>

        <% if (user) { %>
            <a href="/profile" class="btn"> 驻专驻 砖</a>
            <a href="/user/logout" class="btn"> 爪</a>
        <% } else { %>
            <a href="/login" class="btn"> 转专转</a>
            <a href="/register" class="btn"> 专砖</a>
        <% } %>
    </div>
</nav>
