<!DOCTYPE html>
<html lang="he">
<%- include('partials/head') %> <!-- 专 -HEAD -->

<body>
    <%- include('partials/navbar') %> <!-- 转驻专  -->

    <main class="auth-container">
        <h2> 转专转</h2>
        <form action="/user/login" method="POST">
            <div class="input-group">
                <label for="email"> :</label>
                <input type="email" id="email" name="email" required>
            </div>

            <div class="input-group">
                <label for="password"> 住住:</label>
                <input type="password" id="password" name="password" required>
            </div>

            <button type="submit" class="btn"> 转专</button>
        </form>

        <p>  砖? <a href="/register">专砖</a></p>
    </main>

    <%- include('partials/footer') %> <!-- 驻专 -->
</body>
</html>
