
 <!DOCTYPE html>
<html lang="he">
<%- include('partials/head') %>

<body>
    <%- include('partials/navbar') %>

    <main class="search-container">
        <h1> 驻砖 住专</h1>
        <input type="text" id="searchInput" placeholder="拽 砖 住专 注专转  转...">
        <div id="searchResults" class="movies-grid"></div>
    </main>



    <%- include('partials/footer') %>

    <script src="/script/search.js"></script>


</body>
</html> 
